* {
    padding: 0;
    margin: 0;
}


[class*='col-'] {
    float: left;
}
.col-4-4 {
    width: 100%;
}
.col-1-4 {
    width: 25%;
}

.col-3-4 {
    width: 75%;
}


*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.grid {
    margin-bottom: 30px;
}
.grid:after {
    content: "";
    display: table;
    clear: both;
}

[class*='col-'] {
    padding-right: 20px;
}

[class*='col-']:last-of-type {
    padding-right: 0;
}
/*<!-------------------Opt-in Outside Padding------------------->*/
.grid-pad {
    padding: 20px 0 20px 20px;
}

.grid-pad>[class*='col-']:last-of-type {
    padding-right: 20px;
}
/*<!-------------------Opt-in Outside Padding------------------->*/
.col-1-2 {
    width: 50%;
}

.col-1-4 {
    width: 25%;
}

.col-1-8 {
    width: 12.5%;
}

/*.module {*/
/*    border: 1px solid #000;*/
/*}*/




/*My style*/
.grid {
    border : 2px solid red;
}

[class*='col-'] {
    border : 3px solid green;
}
.module p {
    border : 2px solid yellow;
    background-color: blue;
}